argo-cd:
  global:
    revisionHistoryLimit: 0
    logging:
      format: json
      level: warn
  dex:
    enabled: false

  controller:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true

  server:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true

    extraArgs:
      - --insecure

    ingress:
      enabled: true
      ingressClassName: "cilium"
      hostname: "argocd.ntakashi.com"
      annotations:
        ingress.cilium.io/tls-passthrough: "enabled"

  configs:
    cm:
      resource.exclusions: |
        - apiGroups:
          - cilium.io
          kinds:
          - CiliumIdentity
          clusters:
          - "*"
